
.border4Calc{
    margin-top: 25px;
    border: 1px hidden black;
    box-shadow: 0px 3px 15px #a0a0a0;
}
.mrgbtm{
    margin-bottom: 30px;
}
.setButton input{
    margin-top: 20px;
    background-color: #dddddd;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 25px;
    border: 1px solid #D9D9D9;
}

.setEqButton{
margin-top: 20px;
background-color: #4E8FFE;
color: white;
width: 100%;
border: none;
height: 260px;
font-weight: 400;
font-size: 25px;
}

.btnColor input{
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
}